.slider-container {
 
    width: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box; 
   
  }
  
  .slider {
    
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    border: 2px solid gold;
    border-radius: 20px;;
    padding: 2rem;
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .container{
padding:2rem; 
  }


  @media screen and (max-width:768px) {
    
    .slider-container {
 
      width: 100%;
      margin: 0rem;
      overflow: hidden;
      position: relative;
      box-sizing: border-box; 
     
    }  .slide {
      border: 2px solid gold;
      border-radius: 20px;;
      padding: 1rem;
      min-width: 100%;
      box-sizing: border-box;
      transition: transform 0.5s ease-in-out;
    }

  }