.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:2rem;

}

.img{
    height:4rem;
    width:4rem;
    transition: transform 0.4s ease-in-out
}

.a {
    display:flex;
    flex-direction: column;

position: relative;
 align-items: center;
justify-content: center;
}


.fl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
    margin-bottom:2rem;
}

.bb{
    line-height: .8rem;
    font-family:"Poppins" ;
    text-align: justify;
    font-size: 1rem;

color: #ffffcc; 
}

.head{
    font-size: 1.2rem;
    color: #ffffcc;
}

.img:hover {
transform: scale(1.3);
}


@media screen and (max-width:768px) {
    
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:2rem;
    
    }

    
.fl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
    width:100%;
    margin-bottom:2rem;
}

.img{
    height:4rem;
    width:4rem;
    transition: transform 0.4s ease-in-out
}

.kj{
    height:3rem;
    width:3rem;
    transition: transform 0.4s ease-in-out
}

}